<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <link href="{{url_for('static', filename='home.css')}}" rel="stylesheet" type="text/css">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    {% endblock %}

    {% block content%}
    <body>
        <header>
            <div class="nav">
                <nav>
                    <a href="#">Create Account</a>
                    <a href="#">Login</a>
                </nav>
            </div>
        </header>
        <div class="container">
                <div class="header-content">
                    <div class="header">
                        <h1>Discover <br>Delcious Recipes</h1>
                        <button>Get started</button>
                    </div>
                </div>

                <div class="second-section">
                    <div class="inspiration-container">
                        <div class="inspiration-picture">
                        </div>
                        <div class="inspiration-text">
                            <h2>Looking for inspiration<br>for your next meal?</h2>
                            <p>Our recipe sharing website has got you covered. With ourwebiste, you can easily search for recipes, create and share your own recipes with friends and family.</p>
                            <button>Get started</button>
                        </div>
                        
                    </div>
                </div>

                <div class="share-section">
                    <div class="share-content">
                        <div class="shared-text">
                            <h2>Share Your own recipes</h2>
                            <p>Our website has something for everyone. With a user-friendly interface and powerful
                                search capabilities, you'll be able to find the perfect recipes for any occasion in
                                no time.
                            </p>
                            <button>Get started</button>
                        </div>
                        <div class="share-picture"></div>

                    </div>

                </div>

                <div class="community">
                    <div class="community-content">
                        <div class="community-picture"></div>
                        <div class="community-text">
                            <h2>Join a community of foodies</h2>
                            <p>Our community of foodies is always creating ans sharing new recipes, so you'll never run out
                                out of ideas for your next meal.
                            </p>
                            <button>Get started</button>
                        </div>
                    </div>
                </div>


                <div class="footer">
                    <footer>
                        <h1>RecipeHub</h1>
                        <button>Get started</button>
                    </footer>
                </div>
            </div>

        </div>
    </body>
    {% endblock %}
</html>
